# Python Virtual Environments
venv/
.venv/
env/
.env/
ENV/
env.bak/
venv.bak/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
.Python

# Environment Variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt


# Frontend
/Frontend/node_modules/
